<!--退出-->
<div class="livehall_tuichu_div">
    <div class="livehall_layer"></div>
    <div class="livehall_tuichu">
        <div class="livehall_tuichu_close" ng-click="quitCtrl.quit_v.funcHideQuitPane()"></div>
        <div class="livehall_tuichu_d1">系统提示</div>
        <div class="livehall_tuichu_d2">是否确认退出登录</div>
        <div class="livehall_tuichu_d3">
            <a class="livehall_tuichu_d3a1" ng-click="quitCtrl.quit_v.funcQuit()">确定</a>
            <a class="livehall_tuichu_d3a2" ng-click="quitCtrl.quit_v.funcHideQuitPane()">取消</a>
        </div>
    </div>
</div>