.room_body_new{min-width:1600px;padding:10px;}
.room_body_bg{width:100%;height:100%;background:#444444;position:fixed;top:0;right:0;bottom:0;left:0;z-index:0;}
.room_main{max-width:1732px;min-width:1600px;margin:0 auto;overflow:hidden;position:relative;z-index:1;}
/*左侧课程区*/
.room_column1{float:left;width:456px;height:690px;margin-right:10px;border-radius:10px;background:rgba(0,0,0,.4);}
.room_course_title{height:32px;margin:0 10px;line-height:32px;border-bottom:1px solid rgba(254,254,254,.1);}
.room_course_title span{float:left;display:block;width:70px;font-size:14px;color:#fefefe;}
.room_course_title p{float:left;width:76%;height:32px;font-size:14px;color:#fefefe;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.room_course_lesson{float:left;width:160px;height:32px;font-size:14px;color:#fefefe;line-height:34px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.room_course_courseware{width:100%;height:627px;margin-top:15px;overflow:hidden;}
.room_course_courseware .nano-pane{width:8px;opacity:0.3;}
.room_course_img{padding:0 14px;}
.room_course_img img{width:100%;}
/*中间视频区*/
.room_column2{float:left;width:800px;height:754px;margin-right:10px;position:relative;}
/*关闭摄像头*/
.room_close_camera{width:100px;height:34px;font-size:12px;color:#fff;line-height:34px;text-align:center;background:#292929;border-radius:8px;cursor:pointer;position:absolute;right:161px;top:46px;z-index:1;}
/*选择摄像头、麦克*/
.room_choose_camera_select_new,.room_choose_micro_select_new{width:70px;height:34px;background:#292929 url("../../../images/room/select_down.png")no-repeat 56px 14px;border-radius:8px;cursor:pointer;position:absolute;right:80px;top:46px;z-index:1;color:#fff;}
.room_choose_camera_txt{width:56px;height:34px;font-size:12px;color:#fff;line-height:34px;text-align:center;word-wrap:break-word;word-break:break-all;overflow:hidden;}
.room_choose_camera_drop{display:none;width:70px;background:rgba(0,0,0,.4);border-radius:0 0 8px 8px;overflow:hidden;position:absolute;top:34px;left:0;}
.room_choose_camera_drop p{padding:4px 8px;font-size:12px;color:#fff;line-height:14px;word-wrap:break-word;word-break:break-all;}
.room_choose_camera_drop p:hover{background:rgba(0,0,0,.3);}
.room_choose_camera_down{background:#292929 url("../../../images/room/select_up.png")no-repeat 56px 12px;}
.room_choose_camera_down .room_choose_camera_drop{display:block;}
.room_choose_micro_select_new{right:0;}
/*学生个人信息*/
.room_personal_info{height:80px;margin-bottom:10px;}
.room_personal_img{float:left;width:74px;height:74px;margin-right:15px;border-radius:8px;border:3px solid #ddd;overflow:hidden;}
.room_personal_img_connect{border-color:#70c989;}
.room_personal_img img{width:100%;height:100%;}
.room_personal_txt{float:left;padding-top:15px;}
.room_personal_name{width:100px;height:20px;font-size:12px;color:#fefefe;line-height:20px;word-wrap:break-word;word-break:break-all;overflow:hidden;}
.room_personal_time{height:20px;margin-top:12px;font-size:12px;color:#fefefe;line-height:20px;}
.room_personal_time span{font-size:12px;}
/*视频区*/
.room_video_div{width:800px;height:600px;background:#000;overflow:hidden;position:relative;}
/*学生视频重连*/
.room_video_reconnection{padding-top:90px;font-size:16px;color:#fff;line-height:24px;text-align:center;}
/*正在等待*/
.room_video_waiting{width:100%;height:100%;font-size:16px;color:#fff;line-height:24px;text-align:center;background:url("../../../images/room/waiting.png")no-repeat center 100px;box-sizing:border-box;}
/*老师视频区*/
.room_video_small_div{width:260px;height:196px;position:absolute;right:0;bottom:0;z-index:9;}
.room_video_small_loading{width:100%;height:100%;background:#000 url("../../../images/room/waiting.png")no-repeat center;}
/*右侧聊天区*/
.room_column3{margin-left:1276px;height:690px;border-radius:10px;background:rgba(0,0,0,.4);}
.room_chat_title{height:34px;padding-left:10px;font-size:16px;color:#fefefe;line-height:34px;}
.room_chat_translate{width:206px;height:60px;margin:7px auto 0 auto;}
.room_chat_translate_lang{height:18px;font-size:0;}
.room_chat_translate select{display:inline-block;width:86px;height:18px;font-size:12px;color:#000;border:1px solid #c5c5c5;outline:none}
.room_chat_translate_icon{display:inline-block;width:12px;height:18px;margin:0 11px;vertical-align:top;}
.room_chat_translate_change{margin-top:16px;text-align:center;}
.room_chat_translate_change_txt{display:inline-block;font-size:12px;color:#fff;line-height:20px;vertical-align:top}
.room_chat_translate_change_btn{display:inline-block;width:34px;height:20px;background:#c1c1c1;border-radius:10px;position:relative;cursor:pointer;}
.room_chat_translate_change_on{background:#44db5e;}
.room_chat_translate_change_btn span{display:block;width:18px;height:18px;background:#fff;border-radius:50%;position:absolute;top:1px;left:1px;}
.room_chat_main{margin:0 10px;height:518px;padding:0 0 10px 10px;border-top:1px solid rgba(254,254,254,.3);position:relative;}
.room_chat_main_tips{width:100%;border-radius:6px;background:rgba(0,0,0,.6) url("../../../images/room/tips_down.png")no-repeat right 9px;position:absolute;top:7px;left:0;z-index:9;cursor:pointer;}
.room_chat_main_tips p{padding:4px 38px 4px 14px;font-size:12px;color:#c9a26e;line-height:20px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.room_chat_main_tips_down{background:rgba(0,0,0,.6) url("../../../images/room/tips_up.png")no-repeat right 9px;}
.room_chat_main_tips_down p{white-space:normal;}
.room_chat_main_box{height:508px;overflow-x:hidden;overflow-y:auto;}
.room_chat_main_content{width:430px;}
.room_chat_nei{padding-right:10px;}
.room_chat_message_div{display:inline-block;max-width:220px;margin-bottom:10px;background:#fff;border-radius:8px;overflow:hidden;}
.room_chat_message,.room_chat_message_translate{padding:6px 10px;font-size:14px;color:#666;line-height:20px;word-break:break-all;}
.room_chat_message_translate{background:#e3e3e3;}
.room_chat_right{width:100%;overflow:hidden;}
.room_chat_right .room_chat_message_div{float:right;}
.room_chat_main .nano-pane{width:8px;opacity:0.3;}
.room_chat_bottom{height:34px;margin:0 10px;padding:8px;background:rgba(254,254,254,.2);border-radius:4px;overflow:hidden;}
.room_chat_bottom textarea{float:left;width:80%;font-size:14px;color:rgba(0,0,0,.6);border:none;background:none;resize:none;}
.room_chat_send{float:right;display:block;width:16%;height:34px;font-size:14px;color:#fff;line-height:34px;text-align:center;background:rgba(0,0,0,.4);border-radius:4px;cursor:pointer;}
/*邮箱登录提醒*/
.room_email_tips{width:100%;height:54px;font-size:14px;color:#a15519;line-height:54px;text-align:center;background:#fcf2e9;border-radius:4px;position:absolute;top:10px;left:0;z-index:9;}
/*开始上课*/
.room_start_dialogue{width:118px;height:44px;margin:20px auto 0 auto;font-size:14px;color:#fff;line-height:44px;text-align:center;background:#70c989;border-radius:8px;cursor:pointer;}
.room_end_dialogue{width:118px;height:44px;margin:20px auto 0 auto;font-size:14px;color:#fff;line-height:44px;text-align:center;background:#e8484a;border-radius:8px;cursor:pointer;}
/*调试麦克风/摄像头*/
.room_test_camera1{width:260px;height:104px;text-align:center;background:#fff;border-radius:8px;position:absolute;top:40%;left:50%;margin-left:-130px;z-index:9;}
.room_test_camera1 p{height:52px;font-size:12px;color:#313131;line-height:54px;overflow:hidden;}
.roome_test_camera_btn{width:100px;height:34px;margin:0 auto;font-size:14px;color:#fefefe;line-height:34px;background:#70c989;border-radius:8px;cursor:pointer;}
.room_test_mic{width:192px;height:28px;margin:0 auto;padding:2px;}
.room_test_mic_icon{float:left;display:block;width:20px;height:28px;background:url("../../../images/room/mic.png")no-repeat center;}
.room_test_mic_range{float:left;width:140px;height:14px;margin:9px 0 0 10px;background:#e7e6e6;position:relative;}
.room_test_mic_range span{display:block;width:80%;height:14px;background:url("../../../images/room/mic_range.jpg")no-repeat 0 center;position:absolute;top:0;left:0;}
.room_test_camera2{width:260px;height:146px;text-align:center;background:#fff;border-radius:8px;position:absolute;top:40%;left:50%;margin-left:-130px;z-index:9;}
.room_test_camera2 p{padding:26px 0 14px 0;font-size:14px;color:#313131;line-height:20px;}
/*预约消息*/
.room_order_pop{width:456px;height:78px;border-radius:10px;position:fixed;top:710px;right:10px;overflow:hidden;z-index:9}
.room_order_img{float:left;width:78px;height:78px;background:#fff;overflow:hidden;}
.room_order_img img{width:100%;height:100%;}
.room_order_info{float:left;width:360px;padding:13px 0 13px 16px;background:rgba(0,0,0,.4);border:2px solid rgba(112,201,137,.4);border-left:0;border-radius:0 10px 10px 0;}
.room_order_info p{font-size:14px;color:#83e99f;line-height:24px;}
.room_order_info_name{width:80px;height:24px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.room_order_icon{float:left;width:54px;height:78px;background:url("../../../images/room/call.png")no-repeat center;cursor:pointer;}

.panda_teacher_scroll_hide{width:100%;height:100%;overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;}
.panda_teacher_scroll{width:100%;height:100%;padding-right:20px;overflow-y:auto;position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;}
/*学生打分*/
.panda_student_evaluate{width:494px;height:550px;margin-bottom:40px;padding-top:40px;border-radius:10px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.2);position:absolute;top:54px;left:50%;margin-left:-247px;z-index:10;}
.panda_student_div1{height:80px;padding:0 30px;}
.panda_student_div1_img{float:left;width:80px;height:80px;margin-right:18px;border-radius:50%;overflow:hidden;}
.panda_student_div1_img img{width:100%;height:100%;}
.panda_student_div1_info{float:left;width:330px;padding-top:10px;}
.panda_student_div1_name{width:230px;height:26px;font-size:16px;color:#484848;line-height:26px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.panda_student_div1_level{height:40px;font-size:16px;color:#484848;line-height:40px;}
.panda_student_div2{height:80px;padding:30px;}
.panda_student_div2_icon{float:left;width:80px;height:80px;margin-right:18px;border-radius:50%;background:#f6f6f6 url("../../../images/room/icon1.png")no-repeat center;}
.panda_student_div2_tite{width:230px;height:26px;font-size:16px;color:#484848;line-height:26px;overflow:hidden;}
.panda_student_grade{height:18px;margin-top:10px;overflow:hidden;}
.panda_student_grade ul{float:left;height:18px;overflow:hidden;}
.panda_student_grade li{float:left;width:20px;margin-right:4px;}
.panda_student_grade_star{display:block;width:20px;height:18px;background:url("../../../images/room/star_gray.png")no-repeat center;cursor:pointer; }
.panda_student_grade_star_on{background:url("../../../images/room/star.png")no-repeat center;}
.panda_student_grade_star_half{background:url("../../../images/room/star_half.png")no-repeat center;}

.panda_student_div3{height:80px;padding:0 30px;}
.panda_student_div3_icon{float:left;width:80px;height:80px;margin-right:18px;border-radius:50%;background:#f6f6f6 url("../../../images/room/icon2.png")no-repeat center;}
.panda_student_select{margin-top:4px;width:154px;height:34px;border:1px solid #eaeaea;position:relative;}
.panda_student_select_txt{width:100%;height:34px;font-size:16px;color:#484848;line-height:34px;text-indent:12px;background:#fff url("../../../images/room/select.png")no-repeat 136px center;cursor:pointer;}
.panda_student_select_option{width:154px;border:1px solid #eaeaea;position:absolute;top:35px;left:-1px;}
.panda_student_select_option p{padding:0 10px;font-size:16px;color:#aaa;line-height:30px;background:#fff;}
.panda_student_select_option .panda_student_select_on{color:#484848;}
.panda_student_select_option p:hover{background:#eee;}
.panda_student_div4{height:120px;padding:20px 30px;}
.panda_student_div4_title{height:30px;font-size:14px;color:#484848;line-height:30px;}
.panda_student_div4 textarea{width:382px;height:64px;padding:10px 16px;font-size:12px;color:#484848;line-height:22px;resize:none;}
.panda_student_btn{width:210px;height:44px;margin:0 auto;font-size:14px;color:#fff;line-height:44px;text-align:center;background:#70c989;border-radius:8px;border:1px solid #a0dbb0;cursor:pointer;}
.panda_student_btn.panda_student_btn_default{color:#484848;background:#ddd;border-color:#ddd;}
