.room_body{width:100%;background:#444;position:relative;}
/*视频*/
.room_video_student{width:100%;max-width:1310px;margin:0 auto;background:#000;overflow:hidden;position:relative;z-index:1;}
.room_video_student_div{width:100%;height:100%;}
.room_video_teacher{width:328px;height:246px;box-shadow:0 0 3px rgba(0,0,0,0.66);position:absolute;bottom:0;right:0;z-index:2;}
.room_video_teacher_video_bg{width:100%;height:100%;position:absolute;background:#000 url("../../../images/room/close.png")no-repeat center 100%;z-index: 2;-moz-background-size:100% 100%; background-size:100% 100%; }
.room_video_teacher_video{position:absolute;width:328px;height:246px;bottom:0;right:0;z-index:2;}
.speed-up{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.room_video_teacher_div{width:100%;height:100%;}
.speed-up{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/*学生重新连线*/
.room_video_student_reconnection{padding-top:90px;font-size:16px;color:#fff;text-align:center;}
/*已断开*/
.room_video_student_disconnect{width:100%;height:100%;padding-top:60px;font-size:16px;color:#fff;line-height:24px;text-align:center;background:#444;box-sizing:border-box;}
/*正在等待*/
.room_video_student_waiting{width:100%;height:100%;padding-top:60px;font-size:16px;color:#fff;line-height:24px;text-align:center;background:#000 url("../../../images/room/waiting.png")no-repeat center 100px;box-sizing:border-box;}
.room_video_student_waiting_video{width:100%;height:100%;position:absolute;background:#000 url("../../../images/room/close.png")no-repeat center 0px;z-index: 2;-moz-background-size:100% 100%; background-size:100% 100%; }
/*老师视频区加载中*/
.room_video_teacher_loading{width:100%;height:100%;background:#000 url("../../../images/room/waiting.png")no-repeat center;}

/*学生昵称*/
.room_top{width:100%;height:40px;font-size:14px;color:#fefefe;line-height:40px;text-align:center;background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;z-index:3;}
/*左侧学生信息*/
.room_left{width:33.333%;min-width:300px;max-width:456px;position:absolute;top:70px;left:16px;z-index:3;}
.room_student_info{height:110px;padding:10px 0 0 36px;background:rgba(0,0,0,0.4);border-radius:10px;}
.room_student_img{width:80px;height:80px;border-radius:8px;overflow:hidden;}
.room_student_img img{width:100%;}
.room_student_name{width:80px;height:24px;font-size:12px;color:#fefefe;line-height:24px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
/*右侧聊天信息*/
.room_chat{width:33.333%;min-width:300px;max-width:456px;padding:0 10px 12px 10px;box-sizing:border-box;position:absolute;top:70px;right:16px;z-index:3;background:rgba(0,0,0,0.4);border-radius:10px;}
.room_chat_top{height:37px;font-size:16px;color:#e8484a;line-height:36px;background:url("../../../images/room/pushpin.png")no-repeat right 10px;border-bottom:1px solid rgba(254,254,254,0.4);cursor:pointer;}
.room_chat_main{height:192px;padding:10px 0 10px 6px;}
.room_chat_main_box{height:192px;overflow-x:hidden;overflow-y:auto;}
.room_chat_main_content{width:430px;}
.room_chat_nei{padding-right:10px;}
.room_chat_left{position:relative;}
/*.room_chat_left p{display:inline-block;max-width:220px;margin-bottom:10px;font-size:14px;color:#666;line-height:22px;padding:6px 10px;background:#fff;border-radius:8px;cursor:pointer;word-wrap:break-word;}*/
.room_chat_right{overflow:hidden;}
/*.room_chat_right p{float:right;display:inline-block;max-width:220px;margin-bottom:10px;font-size:14px;color:#666;line-height:22px;padding:6px 10px;background:#fff;border-radius:8px;word-wrap:break-word;}*/
.room_chat_main .nano-slider{opacity:0.3;}
.room_chat_txts{width:100%;height:48px;padding:8px 12px;font-size:14px;color:#fff;line-height:18px;background:rgba(102,102,102,0.5);border:1px solid rgba(102,102,102,0.5);border-radius:4px;box-sizing:border-box;resize:none;overflow:hidden;}
.chat_right_student_dialog_room{width:130px;padding:20px;line-height:18px;word-break:break-all;background:#fff;border:1px solid #eee;border-radius:4px;position:absolute;top:0;left:64px;z-index:9;}
.chat_right_student_dialog_room{font-size:14px;color:#666;}
.chat_right_student_dialog_room span{display:block;width:12px;height:12px;background:url("../../../images/index/pic.png")no-repeat -28px -67px;position:absolute;top:10px;right:10px;cursor:pointer;}
.room_chat_translate{margin-top:8px;}
.room_chat_translate_title{height:34px;font-size:14px;color:#fff;line-height:34px;}
.room_chat_translate_way{width:85%;margin:0 auto;height:24px;overflow:hidden;}
.room_chat_translate_way select{float:left;width:46%;height:24px;font-size:12px;color:#000;line-height:24px;border-color:#c5c5c5;}
.room_chat_translate_way option{height:24px;}
.room_chat_translate_google{height:38px;margin-top:14px;overflow:hidden;}
.room_chat_translate_google textarea{width:49%;height:38px;padding:9px 12px;font-size:14px;line-height:18px;box-sizing:border-box;border-radius:4px;resize:none;}
.room_chat_translate_google_txt1{float:left;color:#fff;background:#3b3b3b;border:1px solid #3b3b3b;}
.room_chat_translate_google_txt2{float:right;color:#70c989;background:#0f0f0f;border:1px solid rgba(255,255,255,0.2);}
.room_chat_translate_bottom{height:34px;margin-top:8px;overflow:hidden;}
.room_chat_translate_bottom p{float:left;width:130px;font-size:12px;color:#fff;opacity:0.5;}
.room_chat_translate_btn{float:right;display:block;width:106px;height:34px;font-size:14px;color:#fff;line-height:34px;text-align:center;background:#70c989;border-radius:4px;cursor:pointer;}

.room_chat_focus{border-color:rgba(112,201,137,0.5);}
.room_chat_focus_white{border-color:#fff;}
/*测试用例*/
.room_end_join{width:118px;height:44px;font-size:14px;color:#fff;line-height:44px;text-align:center;border-radius:8px;cursor:pointer;position:fixed;bottom:320px;z-index:10;}
/*邮箱登录提醒*/
.room_email_tips{width:100%;height:54px;font-size:14px;color:#a15519;line-height:54px;text-align:center;background:#fcf2e9;border-radius:4px;position:absolute;top:10px;left:0;z-index:11;}
/*翻译弹窗*/
.room_chat_translate_dialog{width:200px;background:#e3e3e3;border-radius:8px;overflow:hidden;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.room_chat_translate_close{display:block;width:14px;height:14px;background:url("../../../images/index/pic.png")no-repeat -27px -66px;position:absolute;top:8px;right:8px;cursor:pointer;}
.room_chat_translate_top{height:30px;padding-left:10px;font-size:14px;color:#666;line-height:30px;background:#fff;}
.room_chat_translate_main{padding:10px;font-size:14px;color:#666;line-height:22px;text-align:justify;}
.room_chat_translate_main p{font-size:14px;color:#666;}
/*右侧预约弹窗*/
.room_order_pop{width:456px;height:78px;background:rgba(0,0,0,0.4);border-radius:10px;position:absolute;bottom:0px;right:16px;overflow:hidden;z-index:1;}
.room_order_img{float:left;width:78px;height:78px;background:#fff;}
.room_order_img img{width:100%;height:100%;}
.room_order_info{float:left;width:344px;padding:14px 0 14px 16px;}
.room_order_info p{font-size:14px;color:#fff;line-height:24px;}
.room_order_info_name{width:100%;height:24px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.room_order_icon{float:left;width:54px;height:78px;background:url("../../../images/room/call.png")no-repeat center;cursor:pointer;}
/*选择摄像头*/
.room_choose_camera{width:134px;height:140px;position:fixed;left:30px;bottom:106px;z-index:10;}
.room_choose_camera_title{display:block;width:73px;height:23px;margin-bottom:9px;margin-top:5px;font-size:12px;color:#313131;line-height:24px;text-align:center;background:url("../../../images/room/choose_title.png")no-repeat center;cursor:pointer;}
.room_choose_camera_title_button{display:block;width:74px;height:23px;margin-bottom:9px;margin-top:5px;font-size:12px;color:#313131;line-height:24px;text-align:center;border-radius: 4px;background:url("../../../images/room/choose_title.png")no-repeat center;cursor:pointer;}
.room_choose_camera_title_button_video{display:block;width:114px;height:23px;margin-bottom:9px;margin-top:5px;font-size:12px;color:#313131;line-height:24px;text-align:center;border-radius: 4px;cursor:pointer;}
.room_choose_camera_select{width:132px;height:25px;margin-bottom:21px;background:url("../../../images/room/choose_select.png")no-repeat center;cursor:pointer;position:relative;}
.room_choose_camera_select_txt{width:96px;height:25px;padding-left:8px;font-size:12px;color:#313131;line-height:24px;}
.room_choose_camera_select_down{width:132px;background:#c4c4c4;border-radius:8px;overflow:hidden;position:absolute;top:25px;left:0;z-index:11;}
.room_choose_camera_option{width:130px;height:23px;margin-top:-1px;font-size:12px;color:#313131;line-height:22px;text-align:center;border-radius:8px;border:1px solid rgba(127,127,126,0.2);}
.room_choose_camera_option:hover{background:#dbdbda;}
/*选择摄像头*/

.room_test_camera1_test{width:260px;height:104px;text-align:center;background:#fff;border-radius:8px;position:fixed;top:40%;left:50%;margin-left:-130px;z-index:12;}
.room_test_camera1_test p{height:52px;font-size:12px;color:#313131;line-height:54px;overflow:hidden;}
.room_test_camera1_p1_test{height:20px;font-size:12px;color:#e8484a;line-height:15px;overflow:hidden;}
.roome_test_camera_btn_test{width:100px;height:34px;margin:0 auto;font-size:14px;color:#fefefe;line-height:34px;background:#70c989;border-radius:8px;cursor:pointer;}
.room_test_mic_test{width:192px;height:28px;margin:0 auto;padding:2px;}
.room_test_mic_icon_test{float:left;display:block;width:20px;height:28px;background:url("../../../images/room/mic.png")no-repeat center;}
.room_test_mic_range_canvas{float:left;width:160px;height:41px;margin:-4px 0 0 10px;position:relative;}
.room_test_mic_range_canvas span{display:block;width:80%;height:14px;background:url("../../../images/room/mic_range.jpg")no-repeat 0 center;position:absolute;top:0;left:0;}
.room_test_camera2_test{width:260px;height:146px;text-align:center;background:#fff;border-radius:8px;position:fixed;top:40%;left:50%;margin-left:-130px;z-index:12;}
.room_test_camera2_test p{padding:26px 0 14px 0;font-size:14px;color:#313131;line-height:20px;}
#canvasOne {
    /*border: 1px solid #ddd;*/
}
