.wrap{width: 100%;position: relative;background-size: 100% 100%;}
.head{background-image: url(../../../images/index/login-head.png);height: 238px;background-repeat: no-repeat;width: 100%;padding-top: 120px;}
.tit{background-position: 0 0;width: 182px;height: 64px;margin: 0 auto;animation: flipInX 1s 1s ease both;}
@-webkit-keyframes flipInX{
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.content{padding: 120px 0 0 0;}
.content_pab{padding-bottom: 50px;}
.content p{width: 566px;margin: 0 auto;height: 50px;border-bottom: 1px solid #cdcccc;padding-top: 60px;}
.num em{background-position: -416px 0;width: 39px;height: 44px;float: left;margin-right: 18px;}
.content p input{border: none;background: none;font-size: 38px;line-height: 50px;display: block;padding: 0 10px;color: #cdcccc;height: 50px;float: left;width: 470px;}
.password em{background-position: -486px 0;width: 37px;height: 43px;float: left;margin-right: 18px;}
.list_user{width: 566px;margin: 0 auto;padding-top: 10px;}
.list_user li{width: 96px;float: left;}
.list_user li a{font-size: 18px;color: #cdcccc;line-height: 28px;}
.list_user li:nth-child(2){float: right;}
.list_user li:nth-child(1){padding-left: 16px;}
.btn_login{width: 415px;height: 111px;margin: 66px auto 0;display: block;}
.btn_login i,.btn_login b,.btn_login em{background-position: 0 -74px;width: 415px;height: 111px;position: absolute;left: 0;top: 0;}
.btn_login i{-webkit-animation:pulse1 1s .2s linear infinite;animation:pulse1 1s .2s linear infinite;}
.btn_login b{-webkit-animation:pulse2 1s .2s linear infinite;animation:pulse2 1s .2s linear infinite;}
@-webkit-keyframes pulse1{
    0%{-webkit-transform:scale(1);opacity: .6;}
    100%{-webkit-transform:scale(1.03);opacity: .1;}
}
@keyframes pulse1{
    0%{transform:scale(1);opacity: .6;}
    100%{transform:scale(1.03);opacity: .1;}
}
@-webkit-keyframes pulse2{
    0%{-webkit-transform:scale(1);opacity: .6;}
    100%{-webkit-transform:scale(1.05);opacity: .1;}
}
@keyframes pulse2{
    0%{transform:scale(1);opacity: .6;}
    100%{transform:scale(1.05);opacity: .1;}
}
.tit_s{text-align: center;line-height: 34px;margin-top: 195px;}
.tit_s em{display: inline-block;width: 240px;height: 2px;background-color: #e3e3e3;vertical-align: middle;}
.tit_s span{font-size: 24px;line-height: 34px;color: #838383;font-weight: normal;vertical-align: middle;padding: 0 16px;}
.list_login{padding: 50px 0 0 146px;}
.list_login li{width: 58px;float: left;margin-left: 70px;}
.list_login li a{width: 58px;height: 58px;float: left;}
.list_login li:nth-child(1) a{background-position: -278px 0;}
.list_login li:nth-child(2) a{background-position: -347px 0;}
.list_login li:nth-child(3) a{background-position: -210px 0;}
:focus{outline: none;}
