.chatContainer,.chatContainer div, .chatContainer ul, .chatContainer li, .chatContainer p{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* è®¾ç½®æ»šåŠ¨æ¡çš„æ ·å¼ */
::-webkit-scrollbar {
    width:5px;
}
/* æ»šåŠ¨æ§½ */
::-webkit-scrollbar-track {
    border-radius:10px;
}
/* æ»šåŠ¨æ¡æ»‘å— */
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#8C85E6;
    -webkit-box-shadow:#8C85E6;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(175, 190, 255, 0.4);
}
/*æŒ‰é’®æ ·å¼*/
.btn-default-styles {
    outline: none;
    resize: none;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background: #bbb;
    color: #fff;
    border-radius: 4px;
}
.btn-default-styles:focus {
    outline: none;
}
.btn-default-styles:hover {
    background: #c5c5c5;
    animation: anniu 1s infinite;
}
.btn-default-styles:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2) inset;
}


.chatContainer{
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.chatBtn{
    width: 50px;
    height: 50px;
    background: #01bef0;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #d4d4d4;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
}
.chatBtn:hover{
    background: #01b3df;
    box-shadow: none;
}
.chatBtn>i{
    font-size: 25px;
}
.chatBox{
    width: 370px;
    min-width: 320px;
    height: 570px;
    border-radius: 10px;
    background: #f5ecff;
    position: absolute;
    bottom: 0;
    right: 70px;

    overflow: hidden;
    border: solid 1px #d5d5d5;
    box-shadow: 1px 1px 2px #c0c0c0;
    z-index: 1005;
}