<div>
    <div class="chatContainer">
       <!-- <div class="chatBtn" ng-click="baseHeadCtrl.funcJoinRoom()">
            <i class="iconfont icon-xiaoxi1"></i>
        </div>-->
        <div class="chatBtn chatBtn2" ng-click="baseHeadCtrl.funcJoinRoom()">
            <p>星星</p>
            <i class="iconfont icon-xiaoxi1"></i>
        </div>
        <div class="chatBtn chatBtn3" ng-click="baseHeadCtrl.funcJoinRoom()">
            <p>徐雷</p>
            <i class="iconfont icon-xiaoxi1"></i>
        </div>
        <div class="chatBtn chatBtn4" ng-click="baseHeadCtrl.funcJoinRoom()">
            <p>小江</p>
            <i class="iconfont icon-xiaoxi1"></i>
        </div>
    </div>
</div>
