<div>
  <!--  <div class="chatContainer">
        <p>选择你的身份：{{baseHeadCtrl.seleteName}}</p>
        <div class="chatBtn " ng-click="baseHeadCtrl.SelectPersonalIdentity(0)">
            <p>星星</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <div class="chatBtn " ng-click="baseHeadCtrl.SelectPersonalIdentity(1)">
            <p>徐雷</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <div class="chatBtn " ng-click="baseHeadCtrl.SelectPersonalIdentity(2)">
            <p>小江</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <div class="chatBtn " ng-click="baseHeadCtrl.SelectPersonalIdentity(3)">
            <p>舍长</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <p>请选择聊天对象：</p>
        <div class="chatBtn " ng-click="baseHeadCtrl.funcJoinRoom(0)">
            <p>星星</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <div class="chatBtn " ng-click="baseHeadCtrl.funcJoinRoom(1)">
            <p>徐雷</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <div class="chatBtn " ng-click="baseHeadCtrl.funcJoinRoom(2)">
            <p>小江</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
        <div class="chatBtn " ng-click="baseHeadCtrl.funcJoinRoom(3)">
            <p>舍长</p>
            &lt;!&ndash;<i class="iconfont icon-xiaoxi1"></i>&ndash;&gt;
        </div>
    </div>-->
    <div class="wrap">
        <header class="head pr">
            <h1 class="tit">Welcome</h1>
        </header>
        <section class="content pr" id="ct">
            <a class="icon icon_gender pa"  >
                <i class="sp db pa"></i>
                <b class="sp db pa"></b>
                <strong class="sp db pa"></strong>
                <span id="Gender">性别</span>
            </a>
            <a class="icon icon_age pa" href="javascript:;">
                <i class="sp db pa"></i>
                <b class="sp db pa"></b>
                <strong class="sp db pa"></strong>
                <span>21</span>
            </a>
            <a class="icon icon_area pa" href="javascript:;">
                <i class="sp db pa"></i>
                <b class="sp db pa"></b>
                <strong class="sp db pa"></strong>
                <span>省份</span>
            </a>
            <a class="icon icon_vip pa" href="javascript:;">
                <i class="sp db pa"></i>
                <b class="sp db pa"></b>
                <strong class="sp db pa"></strong>
                <span>VIP</span>
            </a>
            <a class="icon icon_signal pa" href="javascript:;">
                <i class="sp db pa"></i>
                <b class="sp db pa"></b>
                <strong class="sp db pa"></strong>
                <span>暗号</span>
            </a>
            <a class="btn_login pr" href="javascript:;">
                <i class="sp db pa"></i>
                <b class="sp db pa"></b>
                <em class="sp db pa"></em>
                <span>Start</span>
            </a>
        </section>
    </div>
</div>
