<div ng-controller="xsWeb.baseHeadCtrl as baseHeadCtrl" id="baseHeadCtrl">
    <!--head-->
    <div ng-controller="xsWeb.room.quietChatCtrl as quietChatCtrl">
    <!--<div >-->
        <div class="home_head_wai" ng-hide="user">
            <div class="home_head_nei">
                <div class="home_head_logo"></div>
                <index-login-toolbar></index-login-toolbar>
            </div>
        </div>
        <div class="panda_head_wai" ng-show="user">
            <div class="panda_head_nei">
                <div class="panda_head_logo"></div>
                <ul class="panda_head_nav">
                    <li class="panda_head_nav_li" ng-repeat="tab in baseHeadCtrl.liveHallTabs" ng-click="baseHeadCtrl.funcSelectShowTag($index);baseHeadCtrl.funcToTop();" ng-class="{'on':$index == baseHeadCtrl.liveHallOnTagIndex}">{{tab.title}}</li>
                </ul>
                <index-login-toolbar></index-login-toolbar>
            </div>
        </div>

        <div ui-view="mainView"></div>

        <div class="home_bottom">
            <p>copyright  2018 upanda.com. All Rights Reserved</p>
            <p>华源智汇（北京）文化科技有限公司 | 京ICP备18033062号-1</p>
            <p>地址：北京市朝阳区胜古中路2号院7号楼A座403</p>
        </div>
        <!--客服-->
        <a class="rightBar" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=800825286&amp;site=qq&amp;menu=yes"></a>
    </div>

</div>