<div ng-controller="xsWeb.room.roomCtrl as roomCtrl">
    <!--<div class="room_body" id="roomBody" ng-controller="xsWeb.room.anchorZeGoCtrl as anchorZeGoCtrl">-->
    <div class="room_body" >
        <!--学生视频区-->
        <div class="room_video_student" id="roomVideo">
            <!--邮箱登录提醒-->
            <div class="room_email_tips" ng-show="anchorZeGoCtrl.teacherEmailPromptShow">您尚未验证您的电子邮件地址。您可以通过点击账户页面上的“未验证”重新发送验证电子邮件。</div>
            <!--视频-->
            <div class="room_video_student_div" >
                <!--学生重新连线-->
                <div class="room_video_student_reconnection" id="room_video_student_reconnection" style="display:none">
                    学生重新连线…
                </div>
                <!--已断开-->
                <div class="room_video_student_disconnect" id="room_video_student_disconnect" style="display:none;">
                    已断开链接<br/>您已挂断
                    <!--对方离开时提示“您的学生已离开”-->
                </div>
                <!--正在等待-->
                <div class="room_video_student_waiting_video" id="room_video_student_waiting_video" style="display:none;"></div>       <!-- //即构room-->
                <div class="room_video_student_waiting remoteVideo">
                    <!--正在等待余小琴琴 - 做好准备！-->
                    <!--摄像头廉价后显示“已经连接摄像头”-->
                </div>
            </div>
            <!--老师视频区-->
            <div class="room_video_teacher">                                                                                <!--//即构room-->
                <video class="room_video_teacher_video speed-up" id="agora_local" autoplay muted playsinline></video>
                <div class="room_video_teacher_video_bg" id="room_video_teacher_video_bg" style="display:none;"></div>
            </div>
        </div>
        <!--顶部学生昵称信息-->
        <div class="room_top">
            {{anchorZeGoCtrl.studentNickname}}
        </div>
        <!--左侧学生信息-->
        <div class="room_left">
            <div class="room_student_info">
                <div class="room_student_img">
                    <img ng-src="{{anchorZeGoCtrl.studentAvatar}}">
                </div>
                <div class="room_student_name">{{anchorZeGoCtrl.studentNickname}}</div>
            </div>
            <div class="room_course">
                <div class="room_course_title">
                    <span >今日课程：</span>
                    <p>{{anchorZeGoCtrl.initialCourseName}}</p>
                    <!--<span class="room_course_top_btn">更换</span>-->
                </div>
                <div class="room_course_courseware">
                    <div class="nano">
                        <div class="nano-content" id="example1">
                            <!--<img src="/app/images/index/code.jpg" />-->
                            <!--<iframe id="main"  frameborder="no" border="0" marginwidth="0" width="100%"  marginheight="0" scrolling="no" allowtransparency="yes" src="https://pics.upanda.com/traditional/pdf/no1.pdf"></iframe>-->
                            <!--<iframe id="iframeMain" scrolling="no" frameborder="0" width="100%" height="100%" src="http://192.168.84.142/courses/course1_1.html"></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧聊天信息-->
        <div class="room_chat" ng-controller="xsWeb.room.quietChatCtrl as quietChatCtrl">
            <!--<div class="room_chat" ng-controller="xsWeb.room.msgAreaCtrl as msgAreaCtrl">-->
            <div class="room_chat_top">短信</div>
            <div class="room_chat_main">
                <div class="room_chat_main_box hrScrollbar2" ng-repeat="quietChat in quietChatCtrl.funcGetQuietSpeck2List()" ng-if="quietChat.funcGetSpeak2().funcGetLessonId() == quietChatCtrl.thisRoomLessonId"  schroll-bottom="quietChat.funcGetRoomMessages()" is-enable-scroll="quietChatCtrl.publicChatIsEnScroll">
                    <div class="room_chat_main_content">
                        <div>
                            <div class="room_chat_nei" ng-repeat="msg in quietChat.funcGetRoomMessages()">
                                <div class="room_chat_left" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_RECV">
                                    <p ng-click="quietChatCtrl.funcLoginMessageTranslation(msg.funcGetMsg(),2,$index)">{{msg.funcGetMsg()}}</p>
                                    <!--<div class="chat_right_student_dialog_room" ng-show="quietChatCtrl.MessageTranslation2&&$index == quietChatCtrl.MessageTranslationIndex">-->
                                        <!--<p>翻译内容：</p>-->
                                        <!--<span ng-click="quietChatCtrl.messageTranslationClose()"></span>-->
                                        <!--<p>-->
                                            <!--{{quietChatCtrl.MessageTranslationText}}-->
                                        <!--</p>-->
                                    <!--</div>-->
                                    <!--翻译弹窗-->
                                </div>
                                <div class="room_chat_right" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_SEND">
                                    <p>{{msg.funcGetMsg()}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_chat_bottom">
                <textarea class="room_chat_txts" type="text" id="quietEmoji" ng-model="quietChatCtrl.speckContent" ng-keydown="quietChatCtrl.funcSpeckKeyEvent($event,0)">你好呀~</textarea>
                <!--<span class="room_chat_translate_btn" ng-click="quietChatCtrl.funcQuietSpeck(0)">发送</span>-->
                <div class="room_chat_translate">
                    <p class="room_chat_translate_title">翻译工具</p>
                    <div class="room_chat_translate_way">
                        <select class="room_chat_translate_select1" ng-model="anchorZeGoCtrl.selectedLeft" ng-options=" item.displayText for item in anchorZeGoCtrl.leftLanguage" ng-change="anchorZeGoCtrl.leftLanguageClick()">
                            <!--<option ng-repeat="roomLanguage in anchorZeGoCtrl.leftLanguage">{{roomLanguage.displayText}}</option>-->
                            <!--<option>中文（简体）</option>-->
                        </select>
                        <span class="room_chat_translate_change"></span>
                        <select class="room_chat_translate_select2" ng-model="anchorZeGoCtrl.selectedRight" ng-options=" item.displayText for item in anchorZeGoCtrl.leftLanguage" ng-change="anchorZeGoCtrl.funcLanguageClick()">
                            <!--<option ng-repeat="roomLanguage in anchorZeGoCtrl.leftLanguage" ng-click="anchorZeGoCtrl.funcLanguageClick(roomLanguage.languageName)">{{roomLanguage.displayText}}</option>-->
                            <!--<option value="">英文</option>-->
                            <!--<option>English</option>-->
                        </select>
                    </div>
                    <div class="room_chat_translate_google">
                        <textarea class="room_chat_translate_google_txt1" ng-model="anchorZeGoCtrl.anchorSpeck" ng-keyup="anchorZeGoCtrl.funcLanguageClick()" placeholder="在这里输入…"></textarea>
                        <textarea class="room_chat_translate_google_txt2" ng-model="anchorZeGoCtrl.rightLanguageText"></textarea>
                    </div>
                    <div class="room_chat_translate_bottom">
                        <p>被某某人翻译 Google</p>
                        <span class="room_chat_translate_btn" ng-click="anchorZeGoCtrl.funcQuietTranslation(0)">发送翻译文本</span>
                    </div>
                </div>
            </div>
            <div class="room_chat_translate_dialog" ng-show="quietChatCtrl.MessageTranslation2">
                <span class="room_chat_translate_close" ng-click="quietChatCtrl.messageTranslationClose()"></span>
                <div class="room_chat_translate_top">翻译内容</div>
                <div class="room_chat_translate_main">
                    <p>{{quietChatCtrl.MessageTranslationText}}</p>
                </div>
            </div>
        </div>
        <!--预约消息-->
        <div class="room_order_pop" ng-show="anchorZeGoCtrl.rightPromptShow" >
            <div class="room_order_img">
                <img ng-src="{{anchorZeGoCtrl.studentAvatar}}" />
            </div>
            <div class="room_order_info">
                <p class="room_order_info_name">{{anchorZeGoCtrl.studentNickname}}</p>
                <p class="room_order_info_txt">{{anchorZeGoCtrl.securityCodeTip}}</p>
            </div>
            <!--<div class="room_order_icon"></div>-->
        </div>
        <!--底部操作按钮-->
        <!--关闭摄像头-->
        <div class="room_close_camera" ng-show="anchorZeGoCtrl.videoShow == false" ng-click="anchorZeGoCtrl.disableVideo()">关闭摄像头</div>
        <div class="room_close_camera" ng-show="anchorZeGoCtrl.videoShow == true" ng-click="anchorZeGoCtrl.enableVideo()">开启摄像头</div>
        <!--<div class="room_close_camera_ceshi" ng-show="anchorZeGoCtrl.rightPromptShow" >右侧弹框{{anchorZeGoCtrl.StuRemainTime}}</div>-->
        <!--结束对话-->
        <div class="room_end_dialogue" ng-click="anchorZeGoCtrl.completeCall(1)">结束对话</div>
        <!--开始上课-->
        <div class="room_start_dialogue" ng-show="anchorZeGoCtrl.beginShow" ng-click="anchorZeGoCtrl.funcGetDoLogin()">开始上课</div>
        <!--选择摄像头、麦克-->
        <select class="room_choose_camera_select_room" id="videoSource"></select>
        <select class="room_choose_micro_select_room" id="audioSource"></select>
        <!--学生评价-->
        <div ng-show="anchorZeGoCtrl.studentEvaluationShow">
            <div class="bg"></div>
            <div class="panda_teacher_scroll_hide" >
                <div class="panda_teacher_scroll">
                    <div class="panda_student_evaluate">
                        <!--<span class="panda_teacher_dialog_close"></span>-->
                        <div class="panda_student_div1">
                            <div class="panda_student_div1_img">
                                <img ng-src="{{anchorZeGoCtrl.studentAvatar}}" />
                            </div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div1_name">{{anchorZeGoCtrl.studentNickname}}</p>
                                <p class="panda_student_div1_level">当前学生等级：L{{anchorZeGoCtrl.studentCurrentGrade}}</p>
                            </div>
                        </div>
                        <div class="panda_student_div2">
                            <div class="panda_student_div2_icon"></div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div2_tite">学生今天课程学习打分？</p>
                                <div class="panda_student_grade">
                                    <ul>
                                        <li ng-repeat="star in anchorZeGoCtrl.studentEvaluateStar" ng-click="anchorZeGoCtrl.funcstudentEvaluateText($index);" ><span ng-class="{'panda_student_grade_star_on':$index <= anchorZeGoCtrl.studentEvaluateTextIndex}" class="panda_student_grade_star"></span></li>
                                        <!--<li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>-->
                                        <!--<li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>-->
                                        <!--<li><span class="panda_student_grade_star panda_student_grade_star_half"></span></li>-->
                                        <!--<li><span class="panda_student_grade_star"></span></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panda_student_div3">
                            <div class="panda_student_div3_icon"></div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div2_tite">学生汉语等级为：</p>
                                <select class="panda_student_select" ng-model="anchorZeGoCtrl.selectedLevel1" ng-options=" item.level for item in anchorZeGoCtrl.studentLevelList" ng-change="anchorZeGoCtrl.funcStudentEvaluateClick()"></select>
                            </div>
                        </div>
                        <div class="panda_student_div4">
                            <p class="panda_student_div4_title">学习评语：</p>
                            <textarea ng-model="anchorZeGoCtrl.studentCommentText" placeholder="请输入评语"></textarea>
                        </div>
                        <div class="panda_student_btn" ng-click="anchorZeGoCtrl.funcStudentEvaluate()">提交</div>
                    </div>
                </div>
            </div>
        </div>

        <script src="item/room/js/jZego-rtc-1.1.3.js"></script>
    </div>
</div>