<div ng-controller="xsWeb.room.roomCtrl as roomCtrl">
    <div class="room_body" id="roomBody" ng-controller="xsWeb.room.roomTestCtrl as roomTestCtrl">
        <!--学生视频区-->
        <div class="room_video_student" id="roomVideo">
            <!--邮箱登录提醒-->
            <!--<div class="room_email_tips" ng-show="roomTestCtrl.teacherEmailPromptShow">您尚未验证您的电子邮件地址。您可以通过点击账户页面上的“未验证”重新发送验证电子邮件。</div>-->
            <!--视频-->
            <div class="room_video_student_div" >
                <!--正在等待-->
                <video class="room_video_student_waiting remoteVideo" id="camVideo">
                    <!--正在等待余小琴琴 - 做好准备！-->
                    <!--摄像头廉价后显示“已经连接摄像头”-->
                </video>
            </div>
        </div>
        <!--底部操作按钮-->
        <!--结束对话-->
        <!--<div class="room_end_dialogue" ng-click="roomTestCtrl.completeCall()">结束对话</div>-->
        <!--选择摄像头、麦克-->
        <div class="room_choose_camera">
            <span class="room_choose_camera_title">选择摄像头</span>
            <select class="room_choose_camera_option" id="videoSource"></select>
            <span class="room_choose_camera_title">选择麦克</span>
            <select class="room_choose_camera_option" id="audioSource"></select>
            <span class="room_choose_camera_title" id="openRoom" ng-click="roomTestCtrl.funStartPlay()">开始检测</span>
            <span class="room_choose_camera_title" ng-click="roomTestCtrl.funcTestDone1()">关闭检测</span>
        </div>
        <!--选择摄像头-->
        <div class="room_test_camera1_test" ng-show="roomTestCtrl.detectionVideoShow">
            <p>请选择将要调试的摄像头及麦克</p>
            <b class="room_test_camera1_p1_test">点击左边"开始检测"哦~</b>
            <div class="roome_test_camera_btn_test" ng-click="roomTestCtrl.funcVideoClose()">确定</div>
        </div>
        <!--调试麦克风-->
        <div class="room_test_camera1_test" ng-show="roomTestCtrl.detectionMicShow">
            <p>请调试麦克风</p>
            <div class="room_test_mic_test">
                <span class="room_test_mic_icon_test"></span>
                <div class="room_test_mic_range_canvas">
                    <canvas id="canvasOne" width="160" height="40" ></canvas>
                    <!--<span></span>-->
                </div>
            </div>
        </div>
        <!--调试结束-->
        <div class="room_test_camera2_test" ng-show="roomTestCtrl.roomTestComplete">
            <p>您已完成连线调试<br/>马上跟学生进行连线上课吧</p>
            <div class="roome_test_camera_btn_test" ng-click="roomTestCtrl.funcAnchorVideoPaneInit()">确定</div>
        </div>
    </div>
</div>