<div ng-repeat="quietChat in quietChatCtrl.funcGetQuietSpeck2List()" >
    <header class="header">
        <a class="back" href="javascript:history.back()"></a>
        <h5 class="tit">{{quietChat.funcGetSpeak2().funcGetName()}}</h5>
        <div class="right">资料</div>
    </header>
    <div class="message hrScrollbar2" schroll-bottom="quietChat.funcGetRoomMessages()"
         is-enable-scroll="quietChatCtrl.publicChatIsEnScroll">

        <div ng-repeat="msg in quietChat.funcGetRoomMessages()">
            <div class="roomSend"  ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_RECV">
                <div class="time">{{msg.funcGetFormatTime()}}</div>
                <div class="msg">
                    <img ng-src="{{quietChat.funcGetSpeak2().funcGetAvatar()}}" alt="" />
                    <p><i class="msg_input"></i>{{msg.funcGetMsg()}}</p>
                </div>
            </div>
            <div class="show" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_SEND">
                <div class="time">{{msg.funcGetFormatTime()}}</div>
                <div class="msg">
                    <img ng-src="{{quietChatCtrl.userAvatar.funcGetAvatar()}}" alt="" />
                    <p><i class="msg_input"></i>{{msg.funcGetMsg()}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="roomFooter">
        <img src="images/room/hua.png" alt="" />
        <img src="images/room/xiaolian.png" alt="" />
        <input type="text" ng-model="quietChatCtrl.speckContent" ng-keydown="quietChatCtrl.funcQuietSpeckKeyEvent($event,1)"/>
        <p ng-click="quietChatCtrl.funcQuietSpeck(1)">发送</p>
    </div>
</div>