<div ng-controller="xsWeb.room.roomCtrl as roomCtrl">
    <div class="room_body_new" id="roomBody" ng-controller="xsWeb.room.anchorZeGoCtrl as anchorZeGoCtrl">
        <div class="room_body_bg"></div>
        <div class="room_main">
            <!--左侧课程区-->
            <div class="room_column1">
                <div class="room_course_title">
                    <span>今日课程：</span>
                    <p>{{anchorZeGoCtrl.initialCourseName}}</p>
                </div>
                <div class="room_course_courseware">
                    <div class="nano">
                        <div class="nano-content" id="example1">
                            <!--<div class="room_course_img">-->
                                <!--<img src="../img/index/code.jpg" />-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--中间视频区-->
            <div class="room_column2">
                <!--关闭摄像头-->
                <div class="room_close_camera"  ng-show="anchorZeGoCtrl.videoShow == false" ng-click="anchorZeGoCtrl.disableVideo()">关闭摄像头</div>
                <div class="room_close_camera"  ng-show="anchorZeGoCtrl.videoShow == true" ng-click="anchorZeGoCtrl.enableVideo()">开启摄像头</div>
                <!--选择摄像头、麦克-->
                <select id="videoSource" class="room_choose_camera_select_new" ng-model="anchorZeGoCtrl.videoInputListText" ng-options=" item.label for item in anchorZeGoCtrl.videoInputList" ng-change="anchorZeGoCtrl.funcVideoListInput()" ></select>
                <select id="audioSource" class="room_choose_micro_select_new" ng-model="anchorZeGoCtrl.audioInputListText" ng-options=" item.label for item in anchorZeGoCtrl.audioInputList" ng-change="anchorZeGoCtrl.funcAudioListInput()"></select>
                <!--<div class="room_choose_camera_done" ng-click="anchorZeGoCtrl.funcSwitchCamera()">确认</div>                       &lt;!&ndash;切换摄像头&ndash;&gt;-->
                <!--<select class="room_choose_camera_select_room" id="videoSource"></select>-->
                <!--<select class="room_choose_micro_select_room" id="audioSource"></select>-->
                <!--学生个人信息-->
                <div class="room_personal_info" >
                    <!--默认头像边框置灰，接通后添加class名 room_personal_img_connect-->
                    <div class="room_personal_img" ng-class="{'room_personal_img_connect':anchorZeGoCtrl.studentIsOnLine == true}">
                        <img ng-src="{{anchorZeGoCtrl.studentAvatar}}" />
                    </div>
                    <div class="room_personal_txt">
                        <p class="room_personal_name">{{anchorZeGoCtrl.studentNickname}}</p>
                        <p class="room_personal_time">学生当前积分：{{anchorZeGoCtrl.studentScore}}分</p>
                    </div>
                </div>
                <!--视频-->
                <div class="room_video_div ">
                    <div class="room_video_student_waiting_video" id="room_video_student_waiting_video" style="display:none;"></div>       <!-- //即构room-->
                    <div class="room_video">
                        <!--插入视频-->
                    </div>
                    <!--学生重新连线/断开链接提示文字-->
                    <div class="room_video_reconnection" id="room_video_student_disconnect" style="display:none">
                        学生重新连线…
                        <!--摄像头链接后显示“已经连接摄像头”-->
                        <!--对方离开时提示“您的学生已离开”-->
                        <!--已断开链接-->
                        <!--已断开链接<br>您已挂断-->
                    </div>
                    <!--正在等待-->
                    <div class="room_video_waiting remoteVideo" >
                        <!--正在等待余小琴琴 - 做好准备！-->
                    </div>
                    <!--老师视频区-->
                    <video class="room_video_small_div speed-up" id="agora_local" autoplay muted playsinline></video>
                    <div class="room_video_small_div">

                        <!--加载中-->
                        <div class="room_video_small_loading" style="display:none"></div>
                        <div class="room_video_teacher_video_bg" id="room_video_teacher_video_bg" style="display:none;"></div>
                    </div>
                </div>
                <!--开始上课-->
                <div class="room_start_dialogue" ng-show="anchorZeGoCtrl.beginShow" ng-click="anchorZeGoCtrl.funcGetDoLogin()">开始上课</div>
                <!--结束对话-->
                <div class="room_end_dialogue" ng-show="anchorZeGoCtrl.beginShow == false" ng-click="anchorZeGoCtrl.completeCall(1)">结束对话</div>
            </div>
            <!--右侧聊天区-->
            <div class="room_column3" ng-controller="xsWeb.room.quietChatCtrl as quietChatCtrl">
                <p class="room_chat_title">短信</p>
                <div class="room_chat_translate">
                    <div class="room_chat_translate_lang">
                        <select ng-model="anchorZeGoCtrl.selectedLeft" ng-options=" item.displayText for item in anchorZeGoCtrl.leftLanguage" ng-change="anchorZeGoCtrl.leftLanguageClick()">
                        </select>
                        <span class="room_chat_translate_icon"></span>
                        <select ng-model="anchorZeGoCtrl.selectedRight" ng-options=" item.displayText for item in anchorZeGoCtrl.leftLanguage" ng-change="anchorZeGoCtrl.funcLanguageClick()">
                        </select>
                    </div>
                    <div class="room_chat_translate_change">
                        <span class="room_chat_translate_change_txt">结束翻译</span>
                        <div class="room_chat_translate_change_btn" ng-class="anchorZeGoCtrl.teacherTranslationStatus == true ? 'room_chat_translate_change_on' : ''"  ng-click="anchorZeGoCtrl.funcTeacherTranslationStyle()">
                            <span ng-style="anchorZeGoCtrl.teacherTranslationStyle"></span>
                        </div>
                        <span class="room_chat_translate_change_txt">开始翻译</span>
                    </div>
                </div>
                <!--对话框-->
                <div class="room_chat_main">
                    <!--系统消息-->
                    <div class="room_chat_main_tips " ng-class="anchorZeGoCtrl.publicSystemShow == true ? 'room_chat_main_tips_down' : ''"  ng-click="anchorZeGoCtrl.funcpublicSystemClick()">
                        <p>{{anchorZeGoCtrl.publicSystemText}}</p>
                    </div>
                    <div class="room_chat_main_box hrScrollbar2" ng-repeat="quietChat in quietChatCtrl.funcGetQuietSpeck2List()" ng-if="quietChat.funcGetSpeak2().funcGetLessonId() == quietChatCtrl.thisRoomLessonId"  schroll-bottom="quietChat.funcGetRoomMessages()" is-enable-scroll="quietChatCtrl.publicChatIsEnScroll">
                        <div class="room_chat_main_content">
                            <div class="room_chat_nei" ng-repeat="msg in quietChat.funcGetRoomMessages()">
                                <div class="room_chat_left" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_RECV">
                                    <div class="room_chat_message_div">
                                        <p class="room_chat_message" ng-click="quietChatCtrl.funcLoginMessageTranslation(msg.funcGetMsg(),2,$index)">{{msg.funcGetMsg()}}</p>
                                        <p class="room_chat_message_translate">{{msg.funcGetTransMsg()}}</p>
                                    </div>
                                </div>
                                <div class="room_chat_right" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_SEND">
                                    <div class="room_chat_message_div">
                                        <p class="room_chat_message">{{msg.funcGetMsg()}}</p>
                                        <p class="room_chat_message_translate">{{msg.funcGetTransMsg()}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room_chat_translate_dialog" ng-show="quietChatCtrl.MessageTranslation2">
                            <span class="room_chat_translate_close" ng-click="quietChatCtrl.messageTranslationClose()"></span>
                            <div class="room_chat_translate_top">翻译内容</div>
                            <div class="room_chat_translate_main">
                                <p>{{quietChatCtrl.MessageTranslationText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room_chat_bottom">
                    <textarea placeholder="在这里输入消息..."  ng-model="anchorZeGoCtrl.anchorSpeck" ng-keydown="anchorZeGoCtrl.funcSpeckKeyEvent($event,0)" ></textarea>
                    <span class="room_chat_send" id="quietEmoji" ng-model="quietChatCtrl.anchorSpeck" ng-click="anchorZeGoCtrl.funcQuietTranslation(0)">发送</span>
                </div>
            </div>
        </div>
        <!--邮箱登陆提醒-->
        <div class="room_email_tips" ng-show="anchorZeGoCtrl.teacherEmailPromptShow" style="display:none">您尚未验证您的电子邮件地址。您可以通过点击账户页面上的“未验证”重新发送验证电子邮件。</div>
        <!--预约消息-->
        <div class="room_order_pop" ng-show="anchorZeGoCtrl.rightPromptShow">
            <div class="room_order_img">
                <img ng-src="{{anchorZeGoCtrl.studentAvatar}}">
            </div>
            <div class="room_order_info">
                <p class="room_order_info_name">{{anchorZeGoCtrl.studentNickname}}</p>
                <p class="room_order_info_txt">{{anchorZeGoCtrl.securityCodeTip}}</p>
            </div>
            <!--<div class="room_order_icon"></div>-->
        </div>
        <!--学生评价-->
        <div ng-show="anchorZeGoCtrl.studentEvaluationShow">
            <div class="bg"></div>
            <div class="panda_teacher_scroll_hide" >
                <div class="panda_teacher_scroll">
                    <div class="panda_student_evaluate">
                        <!--<span class="panda_teacher_dialog_close"></span>-->
                        <div class="panda_student_div1">
                            <div class="panda_student_div1_img">
                                <img ng-src="{{anchorZeGoCtrl.studentAvatar}}" />
                            </div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div1_name">{{anchorZeGoCtrl.studentNickname}}</p>
                                <p class="panda_student_div1_level">当前学生等级：L{{anchorZeGoCtrl.studentCurrentGrade}}</p>
                            </div>
                        </div>
                        <div class="panda_student_div2">
                            <div class="panda_student_div2_icon"></div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div2_tite">学生今天课程学习打分？</p>
                                <div class="panda_student_grade">
                                    <ul>
                                        <li ng-repeat="star in anchorZeGoCtrl.studentEvaluateStar" ng-click="anchorZeGoCtrl.funcstudentEvaluateText($index);" ><span ng-class="{'panda_student_grade_star_on':$index <= anchorZeGoCtrl.studentEvaluateTextIndex}" class="panda_student_grade_star"></span></li>
                                        <!--<li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>-->
                                        <!--<li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>-->
                                        <!--<li><span class="panda_student_grade_star panda_student_grade_star_half"></span></li>-->
                                        <!--<li><span class="panda_student_grade_star"></span></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panda_student_div3">
                            <div class="panda_student_div3_icon"></div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div2_tite">学生汉语等级为：</p>
                                <select class="panda_student_select" ng-model="anchorZeGoCtrl.selectedLevel1" ng-options=" item.level for item in anchorZeGoCtrl.studentLevelList" ng-change="anchorZeGoCtrl.funcStudentEvaluateClick()"></select>
                            </div>
                        </div>
                        <div class="panda_student_div4">
                            <p class="panda_student_div4_title">学习评语：</p>
                            <textarea ng-model="anchorZeGoCtrl.studentCommentText" placeholder="请输入评语"></textarea>
                        </div>
                        <div class="panda_student_btn" ng-class="{'panda_student_btn_default':anchorZeGoCtrl.studentEvaluateButton == false}" ng-click="anchorZeGoCtrl.funcStudentEvaluate()">提交</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="item/room/js/jZego-rtc-1.1.3.js"></script>
    </div>
</div>
