<div ng-controller="xsWeb.room.roomCtrl as roomCtrl">
    <div class="room_body" id="roomBody" ng-controller="xsWeb.room.anchorAgoraCtrl as anchorAgoraCtrl">
        <!--学生视频区-->
        <div class="room_video_student" id="roomVideo">
            <!--邮箱登录提醒-->
            <div class="room_email_tips" ng-show="anchorAgoraCtrl.teacherEmailPromptShow">您尚未验证您的电子邮件地址。您可以通过点击账户页面上的“未验证”重新发送验证电子邮件。</div>
            <!--视频-->
            <div class="room_video_student_div" >
                <!--学生重新连线-->
                <div class="room_video_student_reconnection" id="room_video_student_reconnection" style="display:none">
                    学生重新连线…
                </div>
                <!--已断开-->
                <div class="room_video_student_disconnect" id="room_video_student_disconnect" style="display:none;">
                    已断开链接<br/>您已挂断
                    <!--对方离开时提示“您的学生已离开”-->
                </div>
                <!--正在等待-->
                <div class="room_video_student_waiting"  id="agora_remote{{anchorAgoraCtrl.studentId}}">
                    <!--正在等待余小琴琴 - 做好准备！-->
                    <!--摄像头廉价后显示“已经连接摄像头”-->
                </div>
            </div>
            <!--老师视频区-->
            <div class="room_video_teacher" id="agora_local">
            </div>
        </div>
        <!--顶部学生昵称信息-->
        <div class="room_top">
            {{anchorAgoraCtrl.studentNickname}}
        </div>
        <!--左侧学生信息-->
        <div class="room_left">
            <div class="room_student_info">
                <div class="room_student_img">
                    <img ng-src="{{anchorAgoraCtrl.studentAvatar}}">
                </div>
                <div class="room_student_name">{{anchorAgoraCtrl.studentNickname}}</div>
            </div>
            <div class="room_course">
                <div class="room_course_top">
                    <span class="room_course_top_title">今日课程：</span>
                    <p class="room_course_lesson">去机场坐飞机</p>
                    <span class="room_course_top_btn">更换</span>
                </div>
                <div class="room_course_main">
                    <div class="nano">
                        <div class="nano-content">
                            <img src="/app/images/index/code.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧聊天信息-->
        <div class="room_chat" ng-controller="xsWeb.room.quietChatCtrl as quietChatCtrl">
            <!--<div class="room_chat" ng-controller="xsWeb.room.msgAreaCtrl as msgAreaCtrl">-->
            <div class="room_chat_top">短信</div>
            <div class="room_chat_main">
                <div class="room_chat_main_box hrScrollbar2" ng-repeat="quietChat in quietChatCtrl.funcGetQuietSpeck2List()"  ng-if="quietChat.funcGetSpeak2().funcGetLessonId() == quietChatCtrl.thisRoomLessonId"  schroll-bottom="quietChat.funcGetRoomMessages()" is-enable-scroll="quietChatCtrl.publicChatIsEnScroll">
                    <div class="room_chat_main_content">
                        <div>
                            <div class="room_chat_nei" ng-repeat="msg in quietChat.funcGetRoomMessages()">
                                <div class="room_chat_left" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_RECV">
                                    <p ng-click="quietChatCtrl.funcLoginMessageTranslation(msg.funcGetMsg(),2,$index)">{{msg.funcGetMsg()}}</p>
                                    <!--<div class="chat_right_student_dialog_room" ng-show="quietChatCtrl.MessageTranslation2&&$index == quietChatCtrl.MessageTranslationIndex">-->
                                        <!--<p>翻译内容：</p>-->
                                        <!--<span ng-click="quietChatCtrl.messageTranslationClose()"></span>-->
                                        <!--<p>-->
                                            <!--{{quietChatCtrl.MessageTranslationText}}-->
                                        <!--</p>-->
                                    <!--</div>-->
                                </div>
                                <div class="room_chat_right" ng-if="msg.funcGetMsgDir() == msg.MSG_DIR_SEND">
                                    <p>{{msg.funcGetMsg()}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_chat_bottom">
                <!--<textarea class="room_chat_txts" data-ng-model="msgAreaCtrl.speakTxt" ng-trim="false" ng-keyup="msgAreaCtrl.sendMsgKeyEvent($event)" >你好呀~</textarea>-->
                <textarea class="room_chat_txts" type="text" id="quietEmoji" ng-model="quietChatCtrl.speckContent" ng-keydown="quietChatCtrl.funcSpeckKeyEvent($event,0)">你好呀~</textarea>
                <!--<span class="room_chat_translate_btn" ng-click="quietChatCtrl.funcQuietSpeck(0)">发送</span>-->
                <!--<span class="room_chat_translate_btn" ng-click="msgAreaCtrl.sendMessage(5001);">发送</span>-->
                <div class="room_chat_translate">
                    <p class="room_chat_translate_title">翻译工具</p>
                    <div class="room_chat_translate_way">
                        <select class="room_chat_translate_select1" ng-model="anchorAgoraCtrl.selectedLeft" ng-options=" item.displayText for item in anchorAgoraCtrl.leftLanguage" ng-change="anchorAgoraCtrl.leftLanguageClick()">
                            <!--<option ng-repeat="roomLanguage in anchorZeGoCtrl.leftLanguage">{{roomLanguage.displayText}}</option>-->
                            <!--<option>中文（简体）</option>-->
                        </select>
                        <span class="room_chat_translate_change"></span>
                        <select class="room_chat_translate_select2" ng-model="anchorAgoraCtrl.selectedRight" ng-options=" item.displayText for item in anchorAgoraCtrl.leftLanguage" ng-change="anchorAgoraCtrl.funcLanguageClick()">
                            <!--<option ng-repeat="roomLanguage in anchorZeGoCtrl.leftLanguage" ng-click="anchorZeGoCtrl.funcLanguageClick(roomLanguage.languageName)">{{roomLanguage.displayText}}</option>-->
                            <!--<option value="">英文</option>-->
                            <!--<option>English</option>-->
                        </select>
                    </div>
                    <div class="room_chat_translate_google">
                        <textarea class="room_chat_translate_google_txt1" ng-model="anchorAgoraCtrl.anchorSpeck" ng-keyup="anchorAgoraCtrl.funcLanguageClick()" placeholder="在这里输入…"></textarea>
                        <textarea class="room_chat_translate_google_txt2" ng-model="anchorAgoraCtrl.rightLanguageText"></textarea>
                    </div>
                    <div class="room_chat_translate_bottom">
                        <p>被某某人翻译 Google</p>
                        <span class="room_chat_translate_btn" ng-click="anchorAgoraCtrl.funcQuietTranslation(0)">发送翻译文本</span>
                    </div>
                </div>
            </div>
            <div class="room_chat_translate_dialog" ng-show="quietChatCtrl.MessageTranslation2">
                <span class="room_chat_translate_close" ng-click="quietChatCtrl.messageTranslationClose()"></span>
                <div class="room_chat_translate_top">翻译内容</div>
                <div class="room_chat_translate_main">
                    <p>{{quietChatCtrl.MessageTranslationText}}</p>
                </div>
            </div>
        </div>
        <!--预约消息-->
        <div class="room_order_pop" ng-show="anchorAgoraCtrl.rightPromptShow" >
            <div class="room_order_img">
                <img ng-src="{{anchorAgoraCtrl.studentAvatar}}" />
            </div>
            <div class="room_order_info">
                <p class="room_order_info_name">{{anchorAgoraCtrl.studentNickname}}</p>
                <p class="room_order_info_txt">{{anchorAgoraCtrl.securityCodeTip}}</p>
            </div>
            <!--<div class="room_order_icon"></div>-->
        </div>
        <!--底部操作按钮-->
        <!--关闭摄像头-->
        <div class="room_close_camera" ng-show="anchorAgoraCtrl.videoShow == false" ng-click="anchorAgoraCtrl.disableVideo()">关闭摄像头</div>
        <div class="room_close_camera" ng-show="anchorAgoraCtrl.videoShow == true" ng-click="anchorAgoraCtrl.enableVideo()">开启摄像头</div>
        <!--结束对话-->
        <div class="room_end_dialogue" ng-show="anchorAgoraCtrl.beginShow == false" ng-click="anchorAgoraCtrl.completeCall()" >结束对话</div>
        <!--开始上课-->
        <div class="room_start_dialogue" id="join"  ng-show="anchorAgoraCtrl.beginShow" ng-click="anchorAgoraCtrl.funcJoin()">开始上课</div>
        <!--选择摄像头、麦克-->
        <select class="room_choose_camera_select_room" id="videoSource"></select>
        <select class="room_choose_micro_select_room" id="audioSource"></select>
        <!--学生评价-->
        <div ng-show="anchorAgoraCtrl.studentEvaluationShow">
            <div class="bg"></div>
            <div class="panda_teacher_scroll_hide" >
                <div class="panda_teacher_scroll">
                    <div class="panda_student_evaluate">
                        <span class="panda_teacher_dialog_close"></span>
                        <div class="panda_student_div1">
                            <div class="panda_student_div1_img">
                                <img ng-src="{{anchorAgoraCtrl.studentAvatar}}" />
                            </div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div1_name">{{anchorAgoraCtrl.studentNickname}}</p>
                                <p class="panda_student_div1_level">当前学生等级：L4</p>
                            </div>
                        </div>
                        <div class="panda_student_div2">
                            <div class="panda_student_div2_icon"></div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div2_tite">学生今天课程学习打分？</p>
                                <div class="panda_student_grade">
                                    <ul>
                                        <li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>
                                        <li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>
                                        <li><span class="panda_student_grade_star panda_student_grade_star_on"></span></li>
                                        <li><span class="panda_student_grade_star panda_student_grade_star_half"></span></li>
                                        <li><span class="panda_student_grade_star"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panda_student_div3">
                            <div class="panda_student_div3_icon"></div>
                            <div class="panda_student_div1_info">
                                <p class="panda_student_div2_tite">学生汉语等级为：</p>
                                <select class="panda_student_select" ng-model="anchorAgoraCtrl.selectedLevel" ng-options=" item.level for item in anchorAgoraCtrl.studentLevelList"></select>

                            </div>
                        </div>
                        <div class="panda_student_div4">
                            <p class="panda_student_div4_title">学习评语：</p>
                            <textarea ng-model="anchorZeGoCtrl.rightLanguageText" placeholder="请输入评语"></textarea>
                        </div>
                        <div class="panda_student_btn">提交</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="item/room/js/AgoraRTCSDK-2.2.0.js"></script>
    </div>
</div>